.dropzone {
  min-height: 250px;
  height: 100%;
  padding: 0.5rem;
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-primary);
  border-radius: 1rem;
  grid-column: 2 / -2;
  text-align: center;
  align-content: center;
  font-size: 0.75rem;
}

@media (min-width: 500px) {
  .dropzone {
    min-height: 300px;
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .dropzone {
    min-height: 400px;
    font-size: 1rem;
  }
}

