
.dropzoneContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 2 / -2;
  min-height: 250px;
}

.dropzoneForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 250px;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.dropzone {
  display: flex;
  position: relative;
  min-width: 100%;
  padding: 0.5rem;
  flex-grow: 1;
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-primary);
  border-radius: 1rem;
  text-align: center;
  align-content: center;
}

.dropzoneForm button {
  max-width: 200px;
  background-color: var(--clr-primary);
  padding: 0.7em;
  border: 2px solid var(--clr-primary);
  border-radius: 8px;
}

.dropzone p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.poem {
  margin: 0;
  text-align: left;
  font-size: 0.75rem;
  line-height: 1.75;
}

.uploadedImage {
  object-fit: contain;
}

@media (min-width: 500px) {
  .dropzone {
    min-height: 300px;
    font-size: 1rem;
  }

  .poem {
  font-size: 1rem;
}
}

@media (min-width: 1000px) {
  .dropzone {
    min-height: 400px;
    font-size: 1rem;
  }
}

